.menuCollapsed{
    width: 215vh;
    left: -220px !important;
    top: 50px !important;
} 

/* Muestra el menú cuando está abierto */
.navbar-collapse.show {
    left: -200; /* Muestra el menú ajustando la posición a 0 */
}

.logoWhatsApp {
    z-index: 2;
    bottom: 150px !important;
}

@media (max-width: 991px) {
    .menuCollapsed{
        width: 100%;
        left: 0px !important;
        top: 0px !important;
    } 
}