/* Muestra el menú cuando está abierto */
* {
  font-family: "Raleway", sans-serif;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.nav-link {
  color: rgb(13, 5, 14) !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: deeppink !important;
}

.dropdown-item:hover {
  text-decoration: underline;
  color: deeppink !important;
}

.navbar-colors {
  background-color: map-get($paleta_colores,
      background_primary_color) !important;
}

.menuCollapsed {
  width: 215vh;
  left: -220px !important;
  top: 50px !important;
}

.navbar-collapse.show {
  left: -200;
  /* Muestra el menú ajustando la posición a 0 */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: deeppink;
}

.historiaQull{
  padding:20px 20px 0px 20px;
}
.premiosQull{
  padding:20px 20px 0px 20px;
  margin-bottom: 30px;
}

.logopag {
  background-color: $background_primary_color;
  background-size: cover;

  img {
    border-radius: 10%;
  }
}

.card {
  min-height: 100vh;
  & .card-subtitle{
    font-weight: 550;
  }
  & .card-title{
    font-weight: 550;
    margin: 15px 0px 30px 0px;
  }
  &.borderCard1 {
    border-color: map-get($paleta_colores, borderCard_color1) !important;
  }

  &.borderCard2 {
    border-color: map-get($paleta_colores, borderCard_color2);
  }

  &.borderCard3 {
    border-color: map-get($paleta_colores, borderCard_color3);
  }

  &.borderCard4 {
    border-color: map-get($paleta_colores, borderCard_color4);
  }

  &.borderCard5 {
    border-color: map-get($paleta_colores, borderCard_color5);
  }

  & .cardHead {
    width: 100%;
    height: 35px;
  }

  & .cardHeadColor-1 {
    background-color: map-get($paleta_colores, headCard_background_color1);
  }

  & .cardHeadColor-2 {
    background-color: map-get($paleta_colores, headCard_background_color2);
  }

  & .cardHeadColor-3 {
    background-color: map-get($paleta_colores, headCard_background_color3);
  }

  & .cardHeadColor-4 {
    background-color: map-get($paleta_colores, headCard_background_color4);
  }

  & .cardHeadColor-5 {
    background-color: map-get($paleta_colores, headCard_background_color5);
  }

  & .card-subtitle {
    color: map-get($paleta_colores, card_subtitles_color) !important;
  }

  & .link_whatsapp {
    font-weight: 550;
    color: map-get($paleta_colores, link_whatsapp) !important;
  }
}

.titlePage {
  color: white;
  font-weight: 400;
  margin-top: -150px;
  margin-bottom: 100px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color:map-get($paleta_colores, controlCarousel);
  margin-top: 50px;
}


.logoWhatsApp {
  z-index: 1000;
  bottom: 150px !important;
}

h2 {
  text-align: center;
}



footer {
  padding: 10px 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer_color;
  color: $footer_font_color;

  a {
    text-decoration: underline;
    display: block;
    color: rgb(238, 229, 237);
    font-size: 0.8rem;
    margin-bottom: 4px;
  }

  :hover {
    color: rgb(241, 191, 243);
  }
}