/* Muestra el menú cuando está abierto */

.navbar-colors {
  background-color: map-get(
    $paleta_colores,
    background_secondary_color
  ) !important;
}
.menuCollapsed {
  width: 215vh;
  left: -220px !important;
  top: 50px !important;
}
.navbar-collapse.show {
  left: -200; /* Muestra el menú ajustando la posición a 0 */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logopag {
  background-color: $background_primary_color;
  img {
    border-radius: 10%;
  }
}

.logoWhatsApp {
  z-index: 1000;
  bottom: 150px !important;
}

footer {
  padding: 10px 60px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $footer_color;
  color: $footer_font_color;
  a {
    text-decoration: none;
    display: block;
    color: rgb(255, 20, 243);
    font-size: 0.8rem;
    margin-bottom: 4px;
  }
}
