

@media (max-width: 991px) {
    .menuCollapsed{
        width: 100%;
        left: 0px !important;
        top: 0px !important;
    } 
}

@media (max-width: 640px) {
    .titlePage {
        margin-top: -40px;
        margin-bottom: 40px;
      }
}

@media (min-width: 768px) {
    .titlePage {
        margin-bottom: 5px;
      }
}
