.nosotros {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  grid-template-areas:
    "uno uno uno"
    "dos tres tres"
    "cuatro cuatro cinco"
    "seis siete siete";

  .uno {
    grid-area: uno;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
  }

  .dos {
    grid-area: dos;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    padding: 0 50px;
  }
  .tres {
    grid-area: tres;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 0 80px;
    p {
      width: 60%;
      margin-left: 50px;
    }
    .cuatro {
      grid-area: cuatro;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 80px;
      p {
        width: 60%;
        margin-left: 50px;
      }
    }
    .cinco {
      grid-area: cinco;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
    }
    .seis {
      grid-area: seis;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
    }
    .siete {
      grid-area: siete;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 80px;
      p {
        width: 60%;
        margin-left: 50px;
      }
    }
    section {
      border-radius: 10px;
    }
  }
}
