/*Variables*/
//Ver Map $paleta_colores - Define el Perfil de colores del proyecto
$background_primary_color: white;
$background_secondary_color: rgb(221, 145, 145);
$body_color: #acaaa7;
$body_font_color: #f5760f;
$footer_color:rgb(29, 28, 29);
$footer_font_color:white;
$card_subtitles_color: deeppink; 
$card_color: #bdb9b4;
$card_font_color: #69503c;
$button_primary_color: #e60bd3;
$button_secondary_color: #f3b786;
$mainFont: 'Raleway', sans-serif;
$link_whatsapp: darkmagenta;
$controlCarousel: darkmagenta;
$borderCard_color1:rgb(99, 39, 240);
$borderCard_color2:greenYellow;
$borderCard_color3:rgb(185, 19, 130);
$borderCard_color4:rgb(241, 245, 4);
$borderCard_color5:deeppink;
$background_color_headCard1 : rgb(99, 39, 240);
$background_color_headCard2 : greenYellow;
$background_color_headCard3 : rgb(185, 19, 130);
$background_color_headCard4 : rgb(241, 245, 4);
$background_color_headCard5 : deeppink;
$hoverBtn_color: rgb(155, 153, 154);