/*Variables*/
//Ver Map $paleta_colores - Define el Perfil de colores del proyecto
$background_primary_color: white;
$background_secondary_color: rgb(221, 145, 145);
$body_color: #c7b69f;
$body_font_color: #f5760f;
$footer_color:darkmagenta;
$footer_font_color:white;
$card_color: #c9beb0;
$card_font_color: #69503c;
$button_primary_color: #f5760f;
$button_secondary_color: #f3b786;
$mainFont: 'Raleway', sans-serif;
